#mainTopic{
    color : blue;
}

*{
    text-align : center;
}

.heading{
    font-family : georgia;
}
.para{
    color :white;
    background-color : cornflowerblue;
}
div button {
    background-color : purple;
    color : azure;
}
button:hover{
    background-color :yellow ;
    color : blue;
}
.para:nth-of-type(odd){
    background-color : rgb(0, 255, 242);

}
h1::first-letter{
    color : red;

}
input:checked + label {
    color : darkgreen;
}